/* Style the <ul> element */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f2f2f2;
}
form {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
label {
  color: #333;
  font-size: 18px;
  margin-right: 10px;
}
#message {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    height: 1.8em;
    overflow: hidden;
    resize: none;
}

#submit {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease;
  outline: none;
  margin-bottom: 2px;
  height: 1.4em;
}
button[type="submit"]:hover {
  background-color: grey;
}
#messages {
  list-style: none;
  padding: 0;
  margin-top: 20;
}
/* Style each <li> element */
#messages li {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
  height: 1.2em;
  overflow: hidden;
}
/* Style the copy button */
.copy-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: white;
  color: grey;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  opacity: 0.7;
}
/* Style the copy button on hover */
.copy-btn:hover {
  opacity: 1;
}
